nav {
  background: #7752fe;
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
}
.nav-enlace {
  background: #00a9ff;
  padding: 0.5rem;
  color: white;
  text-decoration: none;
  display: inline-block;
}
.nav-enlace:hover {
  background: #0174be;
}
.nav-boton {
  background: #00a9ff;
  color: white;
  padding: 0.5rem;
  border: 2px solid white;
  display: none;
}

@media (max-width: 600px) {
  nav {
    background: #000;
    flex-direction: column;
  }
  .nav-enlace {
    margin: 0.5rem;
  }
  .nav-boton {
    display: inline-block;
  }
  .desaparece {
    display: none;
  }
}
