h1 {
  background-color: #ec610a;
  /* margin-left: 100px;
  margin-bottom: 200px; */
  margin: 100px;
  /*margin: 200px 10px;*/
  /*margin: 100px 10px 20px 500px;*/
}
p {
  background-color: #a40a3c;
  /*padding-left: 100px;*/
  /*padding-bottom: 200px;*/
  padding: 100px;
  /*padding: 200px 100px;*/
  /*padding: 100px 10px 20px 500px;*/
}
