body {
  font-family: "agbalumo", sans-serif;
}
p {
  font-family: Arial, sans-serif;
}
a {
  font-family: Arial, sans-serif;
}

.container {
  margin: 0 auto;
  width: 80%;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.text-center {
  text-align: center;
}
.columna {
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #333;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 8px 8px 5px #888;
  width: 23%;
  box-sizing: border-box;
}
.precio {
  color: #00a9ff;
  font-size: 50px;
}
.btn-precio {
  background-color: #ef9595;
  color: white;
  padding: 10px;
  text-decoration: none;
  border-radius: 3px;
  display: block;
  margin-bottom: 10px;
}
.btn-precio:hover {
  background-color: #ff7676;
}
@media (max-width: 1070px) {
  .columna {
    width: 45%;
    margin-bottom: 20px;
  }
}
@media (max-width: 600px) {
  .columna {
    width: 100%;
    margin-bottom: 20px;
  }
}
