/*.container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.box1 {
  grid-column: 1 / 2;
  grid-row: 1 / 5;
}

.box {
  background: steelblue;
  padding: 10px;
  color: #fff;
  text-align: center;
}*/
.container {
  display: grid;
  margin-top: 30px;
  grid-gap: 5px;
  grid-template-columns: 1fr 2fr 1fr;
}
.box1 {
  grid-column: 1 / 4;
}
.box2 {
  grid-row: 2 / 4;
}
.box5 {
  grid-column: 2 / 4;
}

.box {
  background: steelblue;
  padding: 10px;
  color: #fff;
  text-align: center;
}
